[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.128.0",
    "google-genai>=1.61.0",
    "psycopg2>=2.9.11",
    "sqlalchemy>=2.0.46",
    "stripe>=14.3.0",
]
